//!  sass style/scss/index.scss style/css/style.css

$color-accent: #ffca42;
$color-primary: #1b3764;
$color-1: #ffffff;
$color-2: #b4c7e7;
$color-3: #f4f8ff;
$color-4: #969aa0;
$color-5: #dce1e9;
$color-6: #141414;
$color-7: #f5f8fc;
$color-8: #f6f8fc;

$font-size-xs: 17px;
$font-size-sm: 18px;
$font-size-md: 19px;
$font-size-lg: 22px;
$font-size-xl: 24px;
$font-size-2xl: 32px;
$font-size-3xl: 42px;
$font-size-4xl: 54px;
$font-size-5xl: 64px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

.container {
  padding-inline: 0.75rem;
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
}

.header {
  background: $color-primary;

  .container {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: space-between;

    div:first-child {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    div:last-child {
      display: flex;
      align-items: center;
      gap: 5rem;
    }
  }

  &__socials {
    list-style: none;
    display: flex;
    gap: 0.6rem;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      color: $color-6;
      background: $color-1;
      text-decoration: none;
    }
  }
}

.nav {
  ul {
    list-style: none;
    display: flex;
    gap: 3.75rem;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $color-8;
    font-size: $font-size-xs;
  }

  a:hover {
    color: $color-accent;
  }
}

.btn {
  font-size: $font-size-md;
  border: none;
  background: none;
  outline: none;
  padding-inline: 3.25rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  text-wrap: nowrap;
}

.btn-accent {
  background: $color-accent;
  color: $color-primary;
}

.btn-text {
  color: $color-1;
  line-height: 30.4px;
  letter-spacing: 0.38px;

  span {
    &::after {
      content: ' ';
      display: block;
      width: 100%;
      padding-right: 10px;

      height: 1px;
      background: $color-1;
    }
  }
}

.home {
  background: $color-primary;

  .container {
    display: flex;
    align-items: center;
    column-gap: 75px;

    padding-top: 100px;
    padding-bottom: 100px;

    &:only-child {
      height: fit-content;
    }
  }

  h1 {
    font-size: $font-size-lg;
    font-weight: 400;
    color: $color-1;

    display: flex;
    gap: 14px;
    align-items: center;
    flex-wrap: nowrap;

    line-height: 36px;
    letter-spacing: 1.2px;

    &::before {
      content: ' ';
      width: 35px;
      height: 2px;
      background: $color-accent;
      display: block;
    }
  }

  h2 {
    font-size: $font-size-5xl;
    font-weight: 400;
    color: $color-1;

    line-height: 78px;
    letter-spacing: 1.3px;

    margin-top: 10px;
  }

  &__description {
    font-size: $font-size-sm;
    line-height: 28.5px;
    color: $color-2;

    margin-top: 24px;
  }

  &__btn-group {
    display: flex;
    gap: 10px;
    align-items: center;

    margin-top: 42px;
  }

  &__stats {
    display: flex;
    gap: 60px;

    margin-top: 47px;
  }
}

.stats-item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &_row {
    display: flex;
    align-items: center;
    gap: 10px;

    .stats-item__value {
      padding-left: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: $font-size-xl;
    line-height: 28.8px;
    letter-spacing: 0.28px;
    color: $color-1;

    &::before {
      content: ' ';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $color-accent;
    }
  }

  &__value {
    padding-left: 26px;
    font-size: $font-size-xs;
    line-height: 27px;
    color: $color-2;
  }
}
